.content__list{
    display: flex;
    justify-content: space-between;
}
.content__list-li{
    text-align: left;
    padding-top: 94px;
}
.content__title{
    text-transform: uppercase;
    font-family: Roboto;
    font-weight: 700;
    font-size: 14px;
}
.content__text{
    padding-top: 10px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    color:#757575;
    line-height: 24px;
    padding-right: 40px;
}
.title{
    text-align: center;
    padding-top: 94px;
    padding-bottom: 50px;
    font-family: Roboto;
    font-weight: 700;
    font-size: 36px;
}