.footer__logo{
    padding-top: 60px;
    padding-bottom: 20px;
}
.footeer__place{
    font-family: Roboto;
    color: #fff;
    font-weight: normal;
    font-size: 14px;
}
.footer__contact{
    padding-top: 9px;
    font-family: Roboto;
    color: rgba(255, 255, 255, 0.6);
    font-weight: normal;
    font-size: 14px;
}
.footer__tel{
    padding-bottom: 60px;
}